node_modules
.pnpm-store
.turbo
.env
.env.local
.env.*.local
.next
dist
coverage
.prisma
apps/api/storage/html/*
!apps/api/storage/html/.gitkeep
apps/api/storage/screenshots/*
!apps/api/storage/screenshots/.gitkeep
apps/api/storage/reports/*
!apps/api/storage/reports/.gitkeep
apps/api/storage/exports/*
!apps/api/storage/exports/.gitkeep
apps/api/storage/emails/*
!apps/api/storage/emails/.gitkeep
